@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body{
    margin: 0;
    background-color: #1A0B2E;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #9100f848;
}

.nav-icon{
    color: #ffffff;
    width: 219px;
}

.icon-wave{
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}

.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
}

.btn{
    padding: 12px 1rem;
    border: none;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient( #F7E93F,#FB09B4, #9100F8);
}

.btn-2{
    padding: 12px 1rem;
    border: 2px solid #00FF88;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    background-color: transparent;
    cursor: pointer;
}
.btn-2:hover{
    border-color: purple;
    color: rgb(245, 138, 155);
}
#banner{
    background-image: url(assets/hero-bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    object-fit: cover;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top 125px;
    background-size:420px auto;
    color: #ffffff;
}

.banner-container img{
    width: 150px;
    height: 220px;
    padding-top: 200px;
}
.banner-container h1{
    font-size: 60px;
    font-weight: bolder;
    padding-top: 130px;
    line-height: normal;
    margin: 0;
}

.banner-container p {
    padding-bottom: 20px;
}

.about-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.about-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;

}
.about-container .about{
    border-bottom: 1px solid #9100f867;
    padding-bottom: 80px;
}
.about-container p{
    font-weight: 400;
}
.about p{
    line-height: 30px;
}
.achivement{
    display: flex;
    gap: 100px;
    font-weight: bold;
    padding-top: 80px;
}

.achivement h2{
    color: #00FF88;
}

#choose-bg{
    background-color: #230E3D;
    padding: 120px 200px;
}
.choose-container{
    color: #ffffff;
    margin: 120px auto;
    max-width: 1200px;

}
.choose-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.choose-box div h3{
    font-size: 24px;
    font-weight: bold;
}
.choose-box div{
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #351165;
}
.choose-box div img{
    width: 60px;
    height: 60px;
}
.choose-box{ 
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
}

.big-layout{
    padding-top: 180px;
    grid-column: span 1;
    grid-row: span 2;
}

.normal-layout{
    padding-top: 50px;
    grid-column: span 2;
    grid-row: span 1;
}

.small-layout{
    padding-top: 50px;
    grid-column: span 1;
    grid-row: span 1;
}
.Featured{
    margin: 120px auto;
    color: #ffffff;

}
.Featured h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    
}
.Featured-card{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
}
.Featured-card div{
    background-color: #250D44;
    border-radius: 24px;
    padding: 24px;
}
.Featured-card p {
    font-weight: 100;
}

.Featured-card .time{
    color: #00FF88;
}
.meet-host{
    display: flex;
    gap: 24px;
    color: #ffffff;
    margin: 120px auto;
    max-width: 1200px;
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}
.meet-the-host h2{
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.about-host h3{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.about-host .social{
    display: flex;
    gap: 24px;
    height: 50px;
    
}

.about-host .social img{
    border: .5px solid #533C72;
    padding: 10px;
    border-radius: 40px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    padding: 120px;
    background-size: 100% auto;
    position: relative;
    text-align: center;
}
.footer-container ul{
    display: flex;
    gap: 40px;
}
.footer-container ul li{
    list-style: none;
    
}
.footer-container ul li a{
    text-decoration: none;
    color: #ffffff;
    justify-content: space-evenly;

}
.footer-tittle{
    display: flex;
    font-size: 60px;
    margin-bottom: 2rem;
}
