@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    margin: 0;
    background-color: #1A0B2E;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    border-bottom: 1px solid #9100f848;
}

.nav-icon{
    color: #ffffff;
    width: 219px;
}

.icon-wave{
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}
.icon-circle .badge{
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 9px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1000px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: relative;
    top: -270px;
    right: -390px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu-icon{
    display: none;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
}
@keyframes popup {
    from{
        top: 300px;
    }
    to{
       top: 100px;
    }
}
.btn{
    padding: 12px 1rem;
    border: none;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(to bottom left,#9100F8, #FB09B4, #F7E93F);
    cursor: pointer;
    position: relative;
    transition: all 1s linear;
    animation: popup 2s ease-in-out 0 infinite alternate;
}
.btn:hover{
    background: linear-gradient(to bottom right,#9100F8, #FB09B4, #F7E93F);
}

.btn-2{
    padding: 12px 1rem;
    border: 2px solid #00FF88;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    background-color: transparent;
    cursor: pointer;
    transition: all 1s linear;
}
.btn-2:hover{
    border-color: purple;
    color: rgb(245, 138, 155);
}
#banner{
    background-image: url(assets/hero-bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    object-fit: cover;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top 125px;
    background-size:420px auto;
    color: #ffffff;
}


.banner-container img{
    width: 150px;
    height: 220px;
    padding-top: 200px;
    transition: transform 2s linear;
}

.banner-container img:hover{
    transform: rotatey(180deg);

}
.banner-container h1{
    font-size: 60px;
    font-weight: bolder;
    padding-top: 130px;
    line-height: normal;
    margin: 0;
}

.banner-container p {
    padding-bottom: 20px;
}

.about-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.about-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;

}
.about-container .about{
    border-bottom: 1px solid #9100f867;
    padding-bottom: 80px;
}
.about-container p{
    font-weight: 400;
}
.about p{
    line-height: 30px;
}
.achivement{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
    font-weight: bold;
    padding-top: 80px;
}

.achivement h2{
    color: #00FF88;
}

#choose-bg{
    background-color: #230E3D;
    padding: 120px 200px;
}
.choose-container{
    color: #ffffff;
    margin: 120px auto;
    max-width: 1200px;

}
.choose-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.choose-box div h3{
    font-size: 24px;
    font-weight: bold;
}
.choose-box div{
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #351165;
}
.choose-box div img{
    width: 60px;
    height: 60px;
}
.choose-box{ 
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
}

.big-layout{
    padding-top: 180px;
    grid-column: span 1;
    grid-row: span 2;
}

.normal-layout{
    padding-top: 50px;
    grid-column: span 2;
    grid-row: span 1;
}

.small-layout{
    padding-top: 50px;
    grid-column: span 1;
    grid-row: span 1;
}
.Featured{
    margin: 120px auto;
    color: #ffffff;

}
.Featured h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    
}
.Featured-card{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
}
.Featured-card div{
    background-color: #250D44;
    border-radius: 24px;
    padding: 24px;
}
.Featured-card p {
    font-weight: 100;
}

.Featured-card .time{
    color: #00FF88;
}
.meet-host{
    display: flex;
    gap: 24px;
    color: #ffffff;
    margin: 120px auto;
    max-width: 1200px;
    padding: 50px;
    border-radius: 40px;
    background-color: #351165;
}
.meet-the-host h2{
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.about-host h3{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.about-host .social{
    display: flex;
    gap: 24px;
    height: 50px;
    
}

.about-host .social img{
    border: 1px solid #533C72;
    padding: 10px;
    border-radius: 1000px;
}
.footer-container{
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    padding: 120px;
    background-size: 100% 600px;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
}
.footer-container ul{
    display: flex;
    gap: 40px;
}
.footer-container ul li{
    list-style: none;
    
}
.footer-container ul li a{
    text-decoration: none;
    color: #ffffff;
    justify-content: space-evenly;

}
.footer-tittle{
    display: flex;
    font-size: 60px;
    margin-bottom: 2rem;
}

@media (max-width: 576px){
    .nav-container .menu-ber{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
    }
    .nav-container ul{
        /* flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #1A0B2E;
        gap: 0;
        overflow: hidden; */
        display: none;
    }
    .nav-container ul li {
        padding: 20px;
    }
    .nav-container button{
        display: none;
    }
    .menu-icon{
        display: block;
        color: #ffffff;
    }
    .menu-icon:hover{
        color: #FB09B4;
        cursor: pointer;
    }
    .banner-container{
        background-size: 200px auto;
        background-position-y: top 10px;
    }
    .icon-circle img{
        padding-top: 30px;
        width: 120px;
        height: 150px;
    }
    .about-container{
        margin-top: -200px;
        padding: 0;
    }
    .achivement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 50px;
    }
    .choose-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 -300px;
        margin-top: -100px;
        padding: 0;
        gap: 10px;
    }
    .choose-container h2{
        padding: 90px;
        font-size: 3rem;
    }
    .choose-box{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .choose-box div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 250px;
        padding: 20px;
        margin-top: -20px;
    }
    .choose-bg div{
        margin: 0;
    }
    .big-layout{
        grid-row: span 1;
        grid-column: span 1;
    }
    .normal-layout{
        grid-row: span 1;
        grid-column: span 1;
    }
    .small-layout{
        grid-row: span 1;
        grid-column: span 1;
    }
    .Featured{
        height: 1480px;
    }
    .Featured-card{
        display: flex;
        flex-direction: column;
        margin-top: 500px;
    }
    .meet-host{
        display: flex;
        flex-direction: column;
        margin: 60px 20px;
    }

    .footer-container ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .icon-circle .badge{
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 8px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1000px;
    background-color: #00FF88;
    color: #1A0B2E;
    position: relative;
    top: -170px;
    right: -295px;
}
}